HMSClient/HMSClient/Connected Services/AptServiceRef/HMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HMSService" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HMSService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAllAppointmentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllAppointmentDetails" nillable="true" type="tns:AllAppointmentDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllAppointmentDetails" nillable="true" type="tns:ArrayOfAllAppointmentDetails" />
  <xs:complexType name="AllAppointmentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="doctorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="slot_end" type="ser:duration" />
      <xs:element minOccurs="0" name="slot_start" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllAppointmentDetails" nillable="true" type="tns:AllAppointmentDetails" />
  <xs:complexType name="AppointmentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="doctorId" type="xs:int" />
      <xs:element minOccurs="0" name="patientId" type="xs:int" />
      <xs:element minOccurs="0" name="slot_end" type="ser:duration" />
      <xs:element minOccurs="0" name="slot_start" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentDetails" nillable="true" type="tns:AppointmentDetails" />
</xs:schema>