HMSClient/HMSClient/Connected Services/AptServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HMSService" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ViewAppointments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAppointmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HMSService" minOccurs="0" name="ViewAppointmentsResult" nillable="true" type="q1:ArrayOfAllAppointmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAppointmentByDoctorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAppointmentByDoctorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HMSService" minOccurs="0" name="ViewAppointmentByDoctorIdResult" nillable="true" type="q2:ArrayOfAllAppointmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAppointmentByPatientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewAppointmentByPatientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HMSService" minOccurs="0" name="ViewAppointmentByPatientIdResult" nillable="true" type="q3:ArrayOfAllAppointmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HMSService" minOccurs="0" name="appointment" nillable="true" type="q4:AppointmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookAppointmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableSlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectedDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="doctorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAvailableSlotsResult" nillable="true" type="q5:ArrayOfduration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorId" type="xs:int" />
        <xs:element minOccurs="0" name="patientId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="slotStart" type="q6:duration" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="slotEnd" type="q7:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAppointmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>