HMSClient/HMSClient/Connected Services/AdminServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HMSService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_AddDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDoctor" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDepartment" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetDeptId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeptId" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetDeptId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeptIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="AddDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddDoctor" message="tns:IAdminService_AddDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddDoctorResponse" message="tns:IAdminService_AddDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddDepartment" message="tns:IAdminService_AddDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddDepartmentResponse" message="tns:IAdminService_AddDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetDepartments" message="tns:IAdminService_GetDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetDepartmentsResponse" message="tns:IAdminService_GetDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeptId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetDeptId" message="tns:IAdminService_GetDeptId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetDeptIdResponse" message="tns:IAdminService_GetDeptId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDoctor">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDepartment">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeptId">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetDeptId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HMSService/AdminService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>