HMSClient/HMSClient/Connected Services/SessionManagerRef/HMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HMSService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HMSService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DoctorDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deptId" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobile_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoctorDetails" nillable="true" type="tns:DoctorDetails" />
</xs:schema>